modeldir: ../input/models/gdpr/
docdir: ../input/regulations/gdpr/
targetdir: ../results/gdpr_gamma04/
collectionid: 0
signalwords: ../input/files/signalwords.txt
sequencemarkers: ../input/files/sequencemarkers.txt
stopwords: ../input/files/stopwords.txt
spacy_cache: caches/spacysimcache_tasks_clauses.json
only_constraints: True
gamma: 0.4
delta: 0.8
